
h1 {
    text-align: right;
    font-family: "Tahoma";
    font-size: 40pt;
    color: deeppink;
    text-transform: uppercase;

  }
  
  h2 {
    font-family: "Georgia";
    font-size: 30pt;
    color: violet;
    font-style: oblique;
    text-decoration: underline;
  }
  
  p {
    font-family: "Garamond";
    font-size: 15pt;
    border: blue solid 10px;
    margin: 40px;
    padding: 40px 10px 10px 10px;
    width: 50%;
  }